$white: rgb(250, 250, 250);
$black: rgb(31, 31, 31);
$darkGrey: rgb(49, 49, 49);
$lessLightGrey: rgb(230, 230, 230);
$lightGrey: rgb(241, 241, 241);
$bezierCurve: cubic-bezier(0.4, 0, 0.2, 1);
//rgb(53, 157, 241)
$highlight: rgb(34, 149, 243);
$lightHighlight: rgb(157, 208, 250);
$darkHighlight: rgb(50, 135, 204);

$IBM: 'IBM Plex Sans', 'PT Sans', sans-serif;
$SansSerif: 'Montserrat', 'Helvetica', sans-serif;
