@import './_defaults.scss';

header {
  font-family: 'IBM Plex Sans';
  padding: 8px 32px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  color: $black;
  position: sticky;
  top: 0;
  z-index: 10;
  opacity: 0.95;

  #brand-name {
    letter-spacing: -1px;
    cursor: pointer;
  }
}
