@import './_defaults.scss';

#now-playing-container {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 8px calc(10% + 32px);
  background: $lightGrey;
  width: 100%;
  color: $black;
  transition: bottom 200ms $bezierCurve;
  justify-content: space-between;

  #now-playing-link {
    text-decoration: underline;
  }

  #now-playing-link:hover {
    color: $highlight;
  }

  #now-playing-label {
    display: inline-block;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #now-playing-pause {
    width: 32px;
    height: 32px;
    font-size: 11px;
    border: 1px solid $highlight;
    display: inline-block;
  }
}
