@import './_defaults.scss';

#now-playing-prog-container {
  position: relative;
  width: 72%;
  display: inline-block;
  margin-left: 32px;
  display: inline-block;

  #now-playing-prog-bar {
    width: 100%;
    height: 32px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }

  #now-playing-prog-bar:after {
    content: '';
    position: absolute;
    margin: 0;
    padding: 0 16px;
    width: 100%;
    height: 2px;
    background: $darkGrey;
    top: 16px;
    border: none;
    opacity: 0.5;
  }

  #now-playing-handle {
    background: $lightGrey;
    border: 2px solid $highlight;
    width: 24px;
    height: 24px;
    border-radius: 16px;
    position: absolute;
    top: 4px;
    transition: left 150ms;
  }
}
