@import './_defaults.scss';

.sound-container {
  margin: 0px 0;
  display: flex;
  padding: 8px;
  padding-right: 16px;

  .sound-left {
    flex-grow: 1;
    margin-left: 40px;
  }

  .sound-left.current {
    margin-left: 0;
  }

  .sound-right {
    align-self: center;
  }

  .sound-name {
    font-family: $SansSerif;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: $black;
    line-height: 100%;

    a:hover {
      text-decoration: underline;
    }
  }

  .sound-play.button,
  .sound-pause.button {
    display: none;
    align-self: center;
    margin-right: 8px;
    font-size: 10px;
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 16px;
  }

  .sound-pause.button {
    display: block;
  }

  .sound-meta-info {
    font-weight: normal;
    opacity: 0.35;
  }

  .sound-tags,
  .sound-date,
  .sound-bpm,
  .sound-plays,
  .sound-purchases {
    font-family: $IBM;
    font-size: 12px;
  }

  .sound-price {
    display: inline-block;
    font-size: 14px;
    margin-left: 16px;
  }
}

.sound-container:hover {
  .sound-left {
    margin-left: 0;
  }

  .sound-play.button {
    display: block;
  }
}
