$white: rgb(248, 248, 248);
$black: rgb(31, 31, 31);
$darkGrey: rgb(49, 49, 49);
$lightGrey: rgb(201, 201, 201);
$bezierCurve: cubic-bezier(0.4, 0, 0.2, 1);

$IBM: 'IBM Plex Sans', 'PT Sans', 'Helvetica', sans-serif;
