@import './_defaults.scss';

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,400i,700');

body,
html {
  margin: 0;
  padding: 0;
  background: $white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background: $lightHighlight;
}

body {
  width: 75%;
  margin: 0 auto;
  background: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $IBM;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  font-style: inherit;
}

.App {
  background: $white;
}

.container {
  background: transparent;
}

.highlight-header {
  font-size: 64px;
  font-style: italic;
  display: inline-block;
  line-height: 90%;
  color: $black;
  position: relative;
  z-index: 40;
}

.highlight-header::before {
  content: '';
  background: $highlight;
  width: 100%;
  height: 100%;
  display: block;
  bottom: -14px;
  left: -14px;
  position: absolute;
  z-index: -1;
}

input[type='button'].button {
  outline: none;
  border: none;
  border-radius: 2px;
  background: $highlight;
  color: $white;
  cursor: pointer;
  padding: 8px;
}

input[type='button'].button:hover {
  background: $darkHighlight;
}
